<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="BaseDirectory" value="d:\notebook\Downloads" />
    <add key="videos" value="mp4;avi;mpeg" />
    <add key="office" value="xls;xlsx;doc;docx;rtf;ppt;pptx" />
    <add key="pdf" value="pdf" />
    <add key="books" value="mobi;epub" />
    <add key="iso" value="iso" />
    <add key="images" value="jpg;png;jpeg;" />
    <add key="audio" value="mp3" />
    <add key="zips" value="zip;rar;7z;gz" />
    <add key="installer" value="msi" />
    <add key="executables" value="exe" />
    <add key="android" value="apk" />
  </appSettings>
</configuration>